@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EduTrack</h1>

    @* <h1>Bienvenido a EduTrack</h1> *@
    <p>¡Bienvenido a <strong>EduTrack</strong>! Este es un sistema diseñado especialmente para facilitar el control de asistencia en el entorno educativo. Con <strong>EduTrack</strong>, los profesores podrán gestionar de manera eficiente la asistencia de sus estudiantes en sus clases.</p>
    
    <h2>¿Qué puedes hacer con EduTrack?</h2>
    <ul>
        <li><strong>Registrar Asistencia</strong>: Lleva un registro diario de la asistencia de tus estudiantes de manera rápida y sencilla.</li>
        <li><strong>Crear Clases</strong>: Organiza y crea clases, asignando estudiantes a cada una para un seguimiento más efectivo.</li>
        <li><strong>Generar Reportes</strong>: Accede a reportes detallados de asistencia por estudiante o por clase, facilitando la evaluación del rendimiento académico.</li>
        <li><strong>Gestionar Estudiantes</strong>: Añade y gestiona la información de tus estudiantes en la plataforma, asegurando que cada uno esté correctamente asignado a su clase correspondiente.</li>
    </ul>

    <p>Con <strong>EduTrack</strong>, tendrás todas las herramientas necesarias para llevar un control de asistencia preciso y organizado, contribuyendo así a un ambiente educativo más eficiente.</p>

    <p>¡Comienza a explorar <strong>EduTrack</strong> y mejora tu experiencia en la gestión de la asistencia estudiantil!</p>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
